asyncio==3.4.3
bleak==0.14.3
bleak-winrt==1.1.1
cycler==0.11.0
fonttools==4.33.3
joblib==1.1.0
kiwisolver==1.4.3
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pyparsing==3.0.9
PySimpleGUI==4.59.0
python-dateutil==2.8.2
pytz==2022.1
pyzmq==23.2.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
squaternion==0.3.4
threadpoolctl==3.1.0
xgboost==1.6.1
zmq==0.0.0
